<div class="container">
  <div class="row mt-3">
    <div class="col-2">
      <label class="form-check-label">Please enter search </label>
    </div>
    <div class="col-8">
      <input #searchTerm type="text" class="form-control form-control-lg" placeholder="Search term">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="searchItems(searchTerm.value)">Search</button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm table-wrapper-scroll-y">
    <table class="table table-bordered table-hover table-responsive ">
      <thead *ngIf="showHeader">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Cost</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of item; let i = index" [attr.data-index]="i">
        <tr>
          <td>
            <label (click)="newResults(item, content)">
              {{item.name}}
            </label>
          </td>
          <td>
            <ng-template #tipContent placement="bottom">{{item.shortDescription | sanitize}}</ng-template>
            <div [ngbTooltip]="tipContent" container="body" class="text-truncate wrap-text">
              {{item.shortDescription | sanitize}}
            </div>
          </td>
          <td>{{item.msrp}}</td>
          <td (click)="newResults(item, content)">
            <a>
              <img class="itemImage" src="{{item.thumbnailImage}}" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ itemToShow.name }}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="container">
          <div class="row mt-3">
            <div class="col-12">
              <img class="itemImage" src="{{itemToShow.mediumImage}}" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label class="form-check-label">{{ itemToShow.shortDescription | sanitize}} </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              Model number: <label class="form-check-label">{{ itemToShow.modelNumber }} </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              MSRP: <label class="form-check-label">{{ itemToShow.msrp }} </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              Customer rating: <label class="form-check-label">{{ itemToShow.customerRating }} </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              Customer reviews: <label class="form-check-label">{{ itemToShow.numReviews }} </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              Item ID: <label class="form-check-label">{{ itemToShow.itemId }} </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>