<div class="container">
  <div class="row mt-3">
    <div class="col-2">
      <label class="form-check-label">Please enter search </label>
    </div>
    <div class="col-8">
      <input #searchTerm type="text" class="form-control form-control-lg" placeholder="Search term">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="searchItems(searchTerm.value)">Search</button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm table-wrapper-scroll-y">
    <table class="table table-bordered table-hover table-responsive ">
      <thead *ngIf="showHeader">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Cost</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of item; let i = index" [attr.data-index]="i">
        <tr>
          <td [ngbPopover]="popOver" popoverClass="popover1" container="body">
            <a>
              {{item.name}}
            </a>
            <ng-template #popOver>
                <app-modal [data]="item"></app-modal>
            </ng-template>
          </td>
          <td>       
            <ng-template #tipContent placement="bottom">{{item.shortDescription | sanitize}}</ng-template>
            <div [ngbTooltip]="tipContent" container="body" class="text-truncate wrap-text">   
                {{item.shortDescription | sanitize}}          
            </div>
          </td>
          <td>{{item.msrp}}</td>
          <td (click)="newResults(content)">
            <a>
              <img class="itemImage" src="{{item.thumbnailImage}}" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="cover"></div>