<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular 6</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/Home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/About" routerLinkActive="active">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" target="_blank">       
      </a>
      <a class="nav-item nav-link" target="_blank">        
      </a>
      <a class="nav-item nav-link" target="_blank">      
      </a>
    </div>
  </div>
</nav>